<% @posts.each do |post| %>

<p><%= simple_format post.message %></p>
<p><%= (post.created_at + Time.new.utc_offset).strftime("%B %-d at %l:%M%p") %></p>

<h3>Comments</h3>

<% post.comments.each do |comment| %>
<p>
  <strong>Commenter:</strong>
  <%= simple_format comment.body %>
</p>
<% end %>

<%= form_for([post, post.comments.build]) do |f| %>
<p>
  <!-- <%= f.label :commenter %><br> -->
  <% f.text_field :commenter %>
</p>
<%= f.label :body %><br>
<%= f.text_area :body %>
</p>
<p>
  <%= f.submit %>
</p>
<% end %>
<% end %>

<%= link_to new_post_path do %>
New post
<% end %>

<% if signed_in? %>
  <p><span><%= current_user.email %></span></p>
  <p><%= link_to 'Sign out...', sign_out_path, method: :delete %></p>
<% end %>
