<!doctype html>
<html>
<head>
<script>
  function unlike(postId) {
      var request = new XMLHttpRequest();
      request.open('DELETE', '/posts/' + postId + '/likes');
      request.setRequestHeader('userID', <%= current_user.id %>);
      request.send();
      location.reload(true);
  }
</script>
</head>
<body>

<% @posts.each do |post| %>

<div id="<%= post.id %>">

<p><%= simple_format post.message %></p>
<p><%= (post.created_at + Time.new.utc_offset).strftime("%B %-d at %l:%M%p") %></p>

<h3>Comments</h3>
<% post.comments.each do |comment| %>
<p>
  <p><%= comment.commenter %> says: <%= comment.body %></p>

</p>
<% end %>

<%= form_for([post, post.comments.build]) do |f| %>
<p>
  <%= f.hidden_field(:commenter, :value => current_user.email) %>
</p>
<%= f.text_area :body %>
<p>
  <%= f.submit %>
</p>
<% end %>

<%= form_for([post, post.likes.build]) do |f| %>
  <p>
    <%= f.hidden_field(:user_id, :value => current_user.id) %>
    <%= f.submit %>
  </p>
<% end %>

</div>

<% end %>

<%= link_to new_post_path do %>
New post
<% end %>

<% if signed_in? %>
  <p><span><%= current_user.email %></span></p>
  <p><%= link_to 'Sign out...', sign_out_path, method: :delete %></p>
<% end %>

</body>

</html>